#This file provides clear, step-by-step instructions on how to set up your environment
#first to  create a virtual environment python3 -m venv venv (1)
#activate environment source venv/bin/activate (2)
#install dependencies pip install -r requirements.txt (3)

blinker==1.9.0
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
Flask==3.1.0
Flask-Cors==5.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
pymongo==4.11.1
python-dotenv==1.0.1
Werkzeug==3.1.3
